---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";

interface Props {
  title?: string;
  description?: string;
}
---

<BaseLayout title={Astro.props.title} description={Astro.props.description}>
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
</BaseLayout>
